/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  background: linear-gradient(to bottom, #a0d7db, white);
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}
.header {
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.username {
  font-weight: bold;
  font-size: 18px;
}
.status {
  font-size: 14px;
  color: green;
}
.logo {
  margin-top: 220px;
  text-align: center;
}
.logo h1 {
  font-size: 32px;
  font-weight: bold;
  color: #006666;
}
.timer {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}
.login-btn {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
